html, body
{
    background-color: #000000;
    display: grid;
    align-items: center;
    justify-content: center;
}

h1
{
    color: #00ff00;
    text-align: center;
}

.container
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    text-align: center;
    height: 400px;
    width: 400px;
    gap: 5px;
}

.grid-box
{
    border: 1px solid #00ff00;
    color: #00ff00;
    font-size: 80px;
    display: grid;
    grid-template-rows: 1fr .3fr;
}

.grid-box:nth-child(-n + 3) 
{
    border-top: none;
}

.grid-box:nth-child(3n + 1) 
{
    border-left: none;
}

.grid-box:nth-child(3n + 3) 
{
    border-right: none;
}

.grid-box:nth-last-of-type(-n + 3) 
{
    border-bottom: none;
}

.game-board-button
{
    background-color: #000000;
    border-style: none;
    color: #00ff00;
    grid-row: 1 / 2;
    font-size: 40px;
}

.start-game-button
{
    margin-top: 25px;
}

.clear-board-button
{
    margin-top: 15px;
}

.start-game-button, .clear-board-button
{
    padding: 10px;
    font-weight: 900;
    border: 1px solid #00ff00;
    border-radius: 10px;
    background-color: #000000;
    color: #00ff00;
    box-shadow: 0 0 10px #00ff00,
                0 0 15px #00ff00,
                0 0 10px #00ff00 inset;
}